<div class="row">
    <div class="col-md-8">
        <button routerLink="/data-entry" class="btn btn-sm"><clr-icon shape="arrow left"></clr-icon> Back</button>
    </div>
</div>
<h3 class="text-center">Add new All Day Summary</h3>
<form>
    <section class="form-block">
        <div class="form-group row">
            <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12">
                <label for="aForm_1">Date</label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <input type="date" id="aForm_1">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12">
                <label for="aForm_2">Vehicle Type</label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="select">
                    <select id="aForm_3">
                    <option>Own</option>
                    <option>Lease</option>
                </select>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12">
                <label for="aForm_2">Vehicle #</label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="select">
                    <select id="aForm_3">
                    <option>Select a vehicle ..</option>
                    <option *ngFor="let v of vehicles" [value]="v.id">{{v.regNumber}}</option>
                </select>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12">
                <label for="aForm_3">Select Driver</label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="select">
                    <select id="aForm_3">
                    <option>Select a driver ..</option>
                    <option *ngFor="let d of drivers" [value]="d.id">{{d.driverName}}</option>
                </select>
                </div>
            </div>
        </div>
    </section>
</form>
<hr>