<div class="row flex-items-xs-between">
    <div class="col-md-4">
        <button routerLink="/day-summary" class="btn btn-sm"><clr-icon shape="arrow left"></clr-icon> Back</button>
    </div>
    <div class="col-md-8 text-right">
        <button [hidden]="!editMode" type="button" class="btn btn-warning btn-sm"> <clr-icon shape="trash"></clr-icon> Delete</button>
    </div>
</div>
<h2 [hidden]="editMode">Add new All Day Summary</h2>
<h2 [hidden]="!editMode">Edit All Day Summary</h2>
<form (ngSubmit)="onSubmit(alldaySummaryForm)" [formGroup]="alldaySummaryForm" novalidate>
    <section class="form-block">
        <div class="form-group">
            <label class="required" for="date">Date</label>
            <label for="date" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-top-left" [class.invalid]="alldaySummaryForm.get('date').invalid
                    && (alldaySummaryForm.get('date').dirty || alldaySummaryForm.get('date').touched)">
                <input type="date" formControlName="date" id="date">
                <span class="tooltip-content">
                This field cannot be empty!
                </span>
            </label>
        </div>
        <div [hidden]="editMode" class="form-group">
            <label class="required" for="vehicleType">Vehicle Type</label>
            <div class="select">
                <select (change)="onVehicleTypeChange($event.target.value)" id="vehicleType">
                    <option disabled>Choose a type</option>
                    <option value="OWN">Own</option>
                    <option value="LEASE">Lease</option>
                </select>
            </div>
        </div>
        <div *ngIf="selectedVehicleType" [hidden]="editMode" class="form-group">
            <label class="required" for="vehicleId">Vehicle #</label>
            <div class="select">
                <select formControlName="vehicleId" id="vehicleId">
                    <option disabled>Choose a vehicle</option>
                    <option *ngFor="let v of vehicles" [ngValue]="v.id">{{v.regNumber}}</option>
                    </select>
            </div>
             <span><b>{{ filteredVehicle?.vehicleBrand }} {{ filteredVehicle?.vehicleModel }}</b></span>
        </div>
    </section>
    <div *ngIf="selectedVehicleType">
        <section class="form-block">
            <label>Distance & Time</label>
            <div class="form-group">
                <label class="required" for="loggedinDuration">Logged in Duration</label>
                <label for="loggedinDuration" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-top-left"
                    [class.invalid]="alldaySummaryForm.get('loggedinDuration').invalid
                    && (alldaySummaryForm.get('loggedinDuration').dirty || alldaySummaryForm.get('loggedinDuration').touched)">
                    <input class="form-control" type="number" id="loggedinDuration" formControlName="loggedinDuration" placeholder="">
                    <span class="tooltip-content">
                        This field cannot be empty!
                    </span>
                    </label>
            </div>
            <div *ngIf="selectedVehicleType === 'OWN'">
                <div class="form-group">
                    <label class="required" for="openingOdo">Opening ODO</label>
                    <label for="openingOdo" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-top-left"
                        [class.invalid]="alldaySummaryForm.get('openingOdo').invalid
                    && (alldaySummaryForm.get('openingOdo').dirty || alldaySummaryForm.get('openingOdo').touched)">
                <input class="form-control" type="number" id="openingOdo" formControlName="openingOdo" placeholder="">
                 <span class="tooltip-content">
                        This field cannot be empty!
                    </span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="required" for="closingOdo">Closing ODO</label>
                    <label for="closingOdo" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-top-left"
                        [class.invalid]="alldaySummaryForm.get('closingOdo').invalid
                    && (alldaySummaryForm.get('closingOdo').dirty || alldaySummaryForm.get('closingOdo').touched)">
                <input class="form-control" type="number" id="closingOdo" formControlName="closingOdo" placeholder="">
                 <span class="tooltip-content">
                        This field cannot be empty!
                    </span>
                    </label>
                </div>
            </div>
        </section>
        <section class="form-block">
            <label>Cash Related</label>
            <div class="form-group row">
                <div *ngIf="selectedVehicleType === 'OWN'" class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                    <label for="cashPaidByDriver">Cash paid by driver</label>
                </div>
                <div *ngIf="selectedVehicleType === 'OWN'" class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                    <input class="form-control" type="number" id="cashPaidByDriver" formControlName="cashPaidByDriver" placeholder="">
                </div>
                <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                    <label for="olaPayment">OLA Payment</label>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                    <input class="form-control" type="number" id="olaPayment" formControlName="olaPayment" placeholder="">
                </div>
                <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                    <label for="bankTransfer">Bank Transfer</label>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                    <input class="form-control" type="number" id="bankTransfer" formControlName="bankTransfer" placeholder="">
                </div>
                <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                    <label for="penalty">Penalty</label>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                    <input class="form-control" type="number" id="penalty" formControlName="penalty" placeholder="">
                </div>
                <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                    <label for="cancellationCharges">Cancellation Charges</label>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                    <input class="form-control" type="number" id="cancellationCharges" formControlName="cancellationCharges" placeholder="">
                </div>
            </div>
        </section>
        <section class="form-block">
            <label>Expense Releated</label>
            <div class="form-group row">
                <div *ngIf="selectedVehicleType === 'OWN'" class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                    <label for="fuel">Fuel</label>
                </div>
                <div *ngIf="selectedVehicleType === 'OWN'" class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                    <input class="form-control" type="number" id="fuel" formControlName="fuel" placeholder="">
                </div>
                <div *ngIf="selectedVehicleType === 'OWN'" class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                    <label for="parkingFee">Parking Fee</label>
                </div>
                <div *ngIf="selectedVehicleType === 'OWN'" class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                    <input class="form-control" type="number" id="parkingFee" formControlName="parkingFee" placeholder="">
                </div>
                <div *ngIf="selectedVehicleType === 'OWN'" class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                    <label for="fine">Fine</label>
                </div>
                <div *ngIf="selectedVehicleType === 'OWN'" class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <input class="form-control" type="number" id="fine" formControlName="fine" placeholder="">
                </div>
                <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                    <label for="internetCharges">Internet Charges</label>
                </div>
                <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <input class="form-control" type="number" id="internetCharges" formControlName="internetCharges" placeholder="">
                </div>
                <div *ngIf="selectedVehicleType === 'OWN'" class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                    <label for="toll">Toll</label>
                </div>
                <div *ngIf="selectedVehicleType === 'OWN'" class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <input class="form-control" type="number" id="toll" formControlName="toll" placeholder="">
                </div>
                <div *ngIf="selectedVehicleType === 'OWN'" class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                    <label for="throughBank">Through Bank</label>
                </div>
                <div *ngIf="selectedVehicleType === 'OWN'" class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <input class="form-control" type="number" id="throughBank" formControlName="throughBank" placeholder="">
                </div>
                <div *ngIf="selectedVehicleType === 'OWN'" class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                    <label for="bata">BATA</label>
                </div>
                <div *ngIf="selectedVehicleType === 'OWN'" class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <input class="form-control" type="number" id="bata" formControlName="bata" placeholder="">
                </div>
                <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                    <label for="miscExpense">Misc</label>
                </div>
                <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <input class="form-control" type="number" id="miscExpense" formControlName="miscExpense" placeholder="">
                </div>
            </div>
        </section>
        <section class="form-block">
            <label>Trip Info</label>
            <div class="form-group row flex-items-xs-middle flex-items-xs-center">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <label class="required" for="vehicleType">Operator Type</label>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="select">
                        <select id="operatorType">
                            <option disabled>Choose an operator</option>
                            <option *ngFor="let o of operatorTypes" [ngValue]="o.id">{{o.operatorName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <button type="submit" class="btn btn-sm btn-success"><clr-icon shape="add"></clr-icon> Add</button>
                </div>
            </div>
        </section>
        <section class="form-block">
            <label>Remarks</label>
            <div class="form-group row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <textarea id="remarks" rows="5" formControlName="remarks"></textarea>
                </div>
            </div>
            <button *ngIf="!editMode" type="submit" class="btn btn-primary" [disabled]="alldaySummaryForm.invalid">Save</button>
            <button *ngIf="editMode" type="submit" class="btn btn-primary" [disabled]="alldaySummaryForm.pristine">Update</button>
            <button *ngIf="editMode" type="reset" (click)="revert()" [disabled]="alldaySummaryForm.pristine" class="btn btn-danger">Undo Changes</button>
            <span [hidden]="!isFormSaving"><span class="spinner spinner-inline"> Saving...</span> <span>Saving...</span></span>
        </section>
    </div>
    <clr-modal [(clrModalOpen)]="showModal" [clrModalClosable]="false" [clrModalSize]="'lg'">

        <h3 class="modal-title text-center">
            <clr-icon shape="check-circle" class="is-success" size="36"></clr-icon> All Day Summary Saved</h3>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button type="button" class="btn btn-outline" routerLink="/day-summary">Goto Day Summary Table</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">

        </div>
    </clr-modal>
</form>