<section class="form-block" [formGroup]="item" style="border: 1px solid #ccc;border-radius: 3px;padding:15px">
  <label> {{index+1}}) Ola City Trip</label>
  <div class="form-group">
    <label class="required" for="driverId">Driver</label>
    <div class="select">
      <select formControlName="driverId" id="vehicleId">
          <option disabled>Choose a driver</option>
          <option *ngFor="let d of drivers" [ngValue]="d.id">{{d.driverName}}</option>
        </select>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 col-lg-6 col-xl-3">
    <table class="table">
      <thead>
        <tr>
          <th class="left">Trips</th>
          <th class="left">Action</th>
        </tr>
      </thead>
      <tbody>
        <div formArrayName="rideKMSs">
          <tr *ngFor="let ride of rideKMSs.controls; let i=index;let l=last">
            <td class="left"><input [formControlName]="i" type="number"></td>
            <td class="right">
              <clr-icon (click)="rideKMSs.removeAt($event)" shape="trash"></clr-icon>
            </td>
          </tr>
          <tr>
            <td><input type="number" [(ngModel)]="newTrip" [ngModelOptions]="{standalone: true}" (keydown.Enter)="addTrip(newTrip)"></td>
          </tr>
        </div>
      </tbody>
    </table>
  </div>
  <br>
  <div class="form-group">
    <label class="required" for="cashCollected">Cash Collected</label>
    <label for="cashCollected" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-top-left"
      [class.invalid]="item.get('cashCollected').invalid
                    && (item.get('cashCollected').dirty || item.get('cashCollected').touched)">
    <input formControlName="cashCollected" type="number">
     <span class="tooltip-content">
                        This field cannot be empty!
                    </span>
                    </label>
  </div>
  <div class="form-group">
    <label for="olaMoney">Ola Money</label>
    <input formControlName="olaMoney" type="number">
  </div>
  <div class="form-group">
    <label for="self">Self</label>
    <input formControlName="self" type="number">
  </div>
  <div class="form-group">
    <label for="airportToll">Airport Toll</label>
    <input formControlName="airportToll" type="number">
  </div>
  <button type="button" (click)="removed.emit(index)" class="btn btn-sm btn-danger"><clr-icon shape="trash"></clr-icon> Delete</button>
</section>