<section [formGroup]="item" style="border: 1px solid #ccc;border-radius: 3px;padding:15px">
  <div class="row flex-items-xs-between">
    <div class="col-xs-6 col-md-2">
      <span>
             <label> {{index+1}}) Ola City Trip</label>
        </span>
    </div>
    <div class="col-xs-5 col-md-3 col-sm-3 col-lg-2">
      <span>
             <button type="button" (click)="removed.emit(index)" class="btn btn-sm btn-danger"><clr-icon shape="trash"></clr-icon> Delete</button>
        </span>
    </div>
  </div>
  <div class="form-group">
    <label class="required" for="driverId">Driver</label>
    <div class="select">
      <select formControlName="driverId" id="vehicleId">
          <option disabled>Choose a driver</option>
          <option *ngFor="let d of drivers" [ngValue]="d.id">{{d.driverName}}</option>
        </select>
    </div>
  </div>
  <div class="form-group" *ngIf="item.value.driverId">
    <label for="loginDuration">Login Duration</label>
    <input formControlName="loginDuration" type="number">
  </div>
  <div class="form-group">
    <label for="loginDuration">Trips</label>
    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
      <table class="table table-compact">
        <tbody formArrayName="rideKMSs">
          <tr *ngFor="let ride of rideKMSs.controls; let i=index;let l=last">
            <td><input [formControlName]="i" type="number" style='width:1em'></td>
            <td style="vertical-align:middle">
              <clr-icon (click)="rideKMSs.removeAt($event)" shape="trash" class="is-error"></clr-icon>
            </td>
          </tr>
          <tr>
            <td><input type="number" [(ngModel)]="newTrip" [ngModelOptions]="{standalone: true}" (keydown.Enter)="addTrip(newTrip)"
                style='width:1em'></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2"><b>Total : {{ rideKMSsTotal }} KMs</b></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="form-group">
    <label class="required" for="cashCollected">Cash Collected</label>
    <label for="cashCollected" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-top-left"
      [class.invalid]="item.get('cashCollected').invalid
                    && (item.get('cashCollected').dirty || item.get('cashCollected').touched)">
    <input formControlName="cashCollected" type="number">
     <span class="tooltip-content">
                        This field cannot be empty!
                    </span>
                    </label>
  </div>
  <div class="form-group">
    <label for="olaMoney">Ola Money</label>
    <input formControlName="olaMoney" type="number">
  </div>
  <div class="form-group">
    <label for="self">Self</label>
    <input formControlName="self" type="number">
  </div>
  <div class="form-group">
    <label for="airportToll">Airport Toll</label>
    <input formControlName="airportToll" type="number">
  </div>
  <div *ngIf="vehicleType === 'OWN'">
    <div class="form-group">
      <label for="localToll">Local Toll</label>
      <input formControlName="localToll" type="number">
    </div>
    <div class="form-group">
      <label for="fuel">Fuel</label>
      <input formControlName="fuel" type="number">
    </div>
    <div class="form-group">
      <label for="fine">Fine</label>
      <input formControlName="fine" type="number">
    </div>
    <div class="form-group">
      <label for="penalty">Penalty</label>
      <input formControlName="penalty" type="number">
    </div>
    <div class="form-group">
      <label for="misc">Misc</label>
      <input formControlName="misc" type="number">
    </div>
  </div>
</section>