<div class="row flex-items-xs-between">
  <div class="col-md-4 col-xs-6">
    <button routerLink="/vehicles" class="btn btn-sm"><clr-icon shape="arrow left"></clr-icon> Back</button>
  </div>
  <div class="col-md-4 col-xs-6 text-right">
    <button [hidden]="!editMode" (click)="showDeleteVehicleModal = true" type="button" class="btn btn-warning btn-sm"> <clr-icon shape="trash"></clr-icon> Delete</button>
  </div>
</div>
<h2 [hidden]="editMode">Add new Vehicle</h2>
<h2 [hidden]="!editMode">Edit Vehicle</h2>
<form (ngSubmit)="onSubmit(vehicleForm)" [formGroup]="vehicleForm" (keydown.enter)="$event.preventDefault()" novalidate>
  <label>Vehicle Information</label>
  <section class="form-block">
    <div class="form-group" *ngIf="!editMode">
      <label for="ownershipType">Ownership Type</label>
      <div class="select">
        <select formControlName="ownershipType" id="ownershipType">
              <option disabled>Choose a type</option>
              <option value="OWN">Own</option>
              <option value="LEASE">Lease</option>
          </select>
      </div>
    </div>
    <div *ngIf="vehicleForm.get('ownershipType').value">
      <div class="form-group">
        <label class="required" for="regNumber">Registration #</label>
        <label for="regNumber" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-bottom-right"
          [class.invalid]="vehicleForm.get('regNumber').invalid
                    && (vehicleForm.get('regNumber').dirty || vehicleForm.get('regNumber').touched)">
          <input class="form-control" type="text" id="regNumber" formControlName="regNumber" placeholder="">
          <span class="tooltip-content">
              This field cannot be empty!
          </span>
          </label>
      </div>
      <div class="form-group">
        <label for="vehicleBrand">Brand</label>
        <input type="text" formControlName="vehicleBrand" id="vehicleBrand">
      </div>
      <div class="form-group">
        <label for="vehicleModel">Model</label>
        <input type="text" formControlName="vehicleModel" id="vehicleModel">
      </div>
      <div class="form-group">
        <label for="finoId">FINO ID</label>
        <input type="text" formControlName="finoId" id="finoId">
      </div>
      <div class="form-group">
          <label class="required" for="vehicleCategoryId">Category</label>
          <div class="select">
            <select formControlName="vehicleCategoryId" id="vehicleCategoryId">
              <option disabled>Choose a category</option>
              <option *ngFor="let c of categories" [ngValue]="c.id">{{c.categoryName}}</option>
          </select>
          </div>
        </div>
      <div *ngIf="vehicleForm.get('ownershipType').value === 'LEASE'">
        <div class="form-group">
          <label class="required" for="rankCatergoryId">Rank</label>
          <div class="select">
            <select formControlName="rankCatergoryId" id="rankCatergoryId">
              <option disabled>Choose a type</option>
             <option *ngFor="let s of subcategories" [ngValue]="s.id">{{s.categoryName}}</option>
          </select>
          </div>
        </div>
        <div class="form-group">
          <label class="required" for="ownerName">Owner Name</label>
          <label for="ownerName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-top-left"
            [class.invalid]="vehicleForm.get('ownerName').invalid
                    && (vehicleForm.get('ownerName').dirty || vehicleForm.get('ownerName').touched)">
          <input type="text" formControlName="ownerName" id="ownerName">
          <span class="tooltip-content">
              This field cannot be empty!
            </span>
          </label>
        </div>
        <div class="form-group">
          <label class="required" for="driverName">Driver Name</label>
          <label for="driverName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-top-left"
            [class.invalid]="vehicleForm.get('driverName').invalid
                    && (vehicleForm.get('driverName').dirty || vehicleForm.get('driverName').touched)">
          <input type="text" formControlName="driverName" id="driverName">
          <span class="tooltip-content">
              This field cannot be empty!
            </span>
          </label>
        </div>
        <div class="form-group">
          <label class="required" for="PANnumber">PAN Number</label>
          <label for="PANnumber" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-top-left"
            [class.invalid]="vehicleForm.get('PANnumber').invalid
                    && (vehicleForm.get('PANnumber').dirty || vehicleForm.get('PANnumber').touched)">
          <input type="text" formControlName="PANnumber" id="PANnumber">
          <span class="tooltip-content">
                    This field cannot be empty!
                    </span>
          </label>
        </div>
        <div class="form-group">
          <label class="required" for="accountNumber">Account Number</label>
          <label for="accountNumber" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-top-left"
            [class.invalid]="vehicleForm.get('accountNumber').invalid
                    && (vehicleForm.get('accountNumber').dirty || vehicleForm.get('accountNumber').touched)">
          <input type="text" formControlName="accountNumber" id="accountNumber">
          <span class="tooltip-content">
                    This field cannot be empty!
                    </span>
          </label>
        </div>
        <div class="form-group">
          <label class="required" for="bankName">Bank Name</label>
          <label for="bankName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-top-left"
            [class.invalid]="vehicleForm.get('bankName').invalid
                    && (vehicleForm.get('bankName').dirty || vehicleForm.get('bankName').touched)">
          <input type="text" formControlName="bankName" id="bankName">
          <span class="tooltip-content">
                    This field cannot be empty!
                    </span>
          </label>
        </div>
        <div class="form-group">
          <label class="required" for="bankBranchName">Bank Branch Name</label>
          <label for="bankBranchName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-top-left"
            [class.invalid]="vehicleForm.get('bankBranchName').invalid
                    && (vehicleForm.get('bankBranchName').dirty || vehicleForm.get('bankBranchName').touched)">
          <input type="text" formControlName="bankBranchName" id="bankBranchName">
          <span class="tooltip-content">
                    This field cannot be empty!
                    </span>
          </label>
        </div>
        <div class="form-group">
          <label class="required" for="bankIFSC">Bank IFSC</label>
          <label for="bankIFSC" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-top-left"
            [class.invalid]="vehicleForm.get('bankIFSC').invalid
                    && (vehicleForm.get('bankIFSC').dirty || vehicleForm.get('bankIFSC').touched)">
          <input type="text" formControlName="bankIFSC" id="bankIFSC">
          <span class="tooltip-content">
                    This field cannot be empty!
                    </span>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="required" for="insuranceDuedate">Insurance Duedate</label>
        <label for="insuranceDuedate" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left"
          [class.invalid]="vehicleForm.get('insuranceDuedate').invalid
                    && (vehicleForm.get('insuranceDuedate').dirty || vehicleForm.get('insuranceDuedate').touched)">
          <input type="date" formControlName="insuranceDuedate" id="insuranceDuedate">
          <span class="tooltip-content">
                    This field cannot be empty!
                    </span>
          </label>
      </div>
      <div class="form-group">
        <label class="required" for="roadtaxDuedate">Road Tax Duedate</label>
        <label for="roadtaxDuedate" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left"
          [class.invalid]="vehicleForm.get('roadtaxDuedate').invalid
                    && (vehicleForm.get('roadtaxDuedate').dirty || vehicleForm.get('roadtaxDuedate').touched)">
          <input type="date" formControlName="roadtaxDuedate" id="roadtaxDuedate">
          <span class="tooltip-content">
                    This field cannot be empty!
                    </span>
          </label>
      </div>
      <div class="form-group">
        <label class="required" for="permitExpiry">Permit Expiry</label>
        <label for="permitExpiry" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left"
          [class.invalid]="vehicleForm.get('permitExpiry').invalid
                    && (vehicleForm.get('permitExpiry').dirty || vehicleForm.get('permitExpiry').touched)">
          <input type="date" formControlName="permitExpiry" id="permitExpiry">
          <span class="tooltip-content">
                    This field cannot be empty!
                    </span>
          </label>
      </div>
      <div class="form-group" *ngIf="vehicleForm.get('ownershipType').value === 'OWN'">
        <label class="required" for="serviceInterval">Service Interval</label>
        <label for="serviceInterval" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left"
          [class.invalid]="vehicleForm.get('serviceInterval').invalid
                    && (vehicleForm.get('serviceInterval').dirty || vehicleForm.get('serviceInterval').touched)">
          <input type="number" formControlName="serviceInterval" id="serviceInterval">
          <span class="tooltip-content">
                    This field cannot be empty!
                    </span>
          </label>
      </div>
      <div class="form-group" *ngIf="vehicleForm.get('ownershipType').value === 'LEASE'">
        <label class="required" for="badgeExpiry">Badge Expiry</label>
        <label for="badgeExpiry" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left"
          [class.invalid]="vehicleForm.get('badgeExpiry').invalid
                    && (vehicleForm.get('badgeExpiry').dirty || vehicleForm.get('badgeExpiry').touched)">
          <input type="date" formControlName="badgeExpiry" id="badgeExpiry">
          <span class="tooltip-content">
                    This field cannot be empty!
                    </span>
          </label>
      </div>
    </div>
  </section>
  <section class="form-block">
    <button *ngIf="!editMode" type="submit" class="btn btn-primary" [disabled]="vehicleForm.invalid">Save</button>
    <button *ngIf="editMode" type="submit" class="btn btn-primary" [disabled]="vehicleForm.pristine">Update</button>
    <button *ngIf="editMode" type="reset" (click)="revert()" [disabled]="vehicleForm.pristine" class="btn btn-danger">Undo Changes</button>
    <span [hidden]="!isFormSaving"><span class="spinner spinner-inline"> Saving...</span> <span>Saving...</span></span>
  </section>
  <clr-modal [(clrModalOpen)]="showModal" [clrModalClosable]="false" [clrModalSize]="'lg'">

    <h3 class="modal-title text-center">
      <clr-icon shape="check-circle" class="is-success" size="36"></clr-icon> Vehicle Information Saved</h3>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12 text-center">
          <button type="button" class="btn btn-primary" (click)="newVehicleForm()">Add new Vehicle</button>
          <button type="button" class="btn btn-outline" routerLink="/vehicles">Goto Vehicles Summary Table</button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </clr-modal>
</form>
<clr-modal [(clrModalOpen)]="showDeleteVehicleModal" [clrModalClosable]="true" [clrModalSize]="'sm'">
  <h3 class="modal-title text-center">
    <clr-icon shape="warning" class="is-warning" size="36"></clr-icon> Delete Vehicle</h3>
  <div class="modal-body">
    <p>Do you want to delete this vehicle ?</p>
    <br>
    <div [hidden]="!deletingVehicle" class="text-center"><span class="spinner spinner-inline"> Deleting...</span> <span>Deleting...</span></div>

  </div>
  <div class="modal-footer">
    <button [hidden]="deletingVehicle" class="btn btn-outline" (click)="showDeleteVehicleModal = false" type="button">Cancel</button>
    <button [hidden]="deletingVehicle" class="btn btn-primary" (click)="deleteVehicle()" type="button">Delete</button>
  </div>
</clr-modal>