<clr-main-container>
  <clr-header class="header-4">
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">SPTT-ERP</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown class="dropdown bottom-right">
        <button class="nav-icon" clrDropdownToggle>
                <clr-icon shape="cog"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
        <div class="dropdown-menu">
          <a [routerLink]="['/account']" clrDropdownItem>Account</a>
          <a [routerLink]="['/about']" clrDropdownItem>About</a>
          <a href="#" clrDropdownItem>Log out</a>
        </div>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav" [clr-nav-level]="1">
      <section class="sidenav-content">
        <a class="nav-link">Dashboard</a>
        <a [routerLink]="[ '/day-summary' ]" routerLinkActive="active" class="nav-link">Data Entry</a>
        <section class="nav-group collapsible">
          <input id="bi" type="checkbox" checked>
          <label for="bi">Business Intelligence</label>
          <ul class="nav-list">
            <li><a class="nav-link">Report 1</a></li>
            <li><a class="nav-link">Report 2</a></li>
            <li><a class="nav-link">Report 3</a></li>
            <li><a class="nav-link">Report 4</a></li>
            <li><a class="nav-link">Report 5</a></li>
            <li><a class="nav-link">Report 6</a></li>
            <li><a class="nav-link">Report 7</a></li>
            <li><a class="nav-link">Report 8</a></li>
            <li><a class="nav-link">Report 9</a></li>
            <li><a class="nav-link">Report 10</a></li>
          </ul>
        </section>
        <section class="nav-group collapsible">
          <input id="pref" type="checkbox" checked>
          <label for="pref">Preferences</label>
          <ul class="nav-list">
            <li><a [routerLink]="[ '/drivers' ]" routerLinkActive="active" class="nav-link">Drivers</a></li>
            <li><a [routerLink]="[ '/vehicles' ]" routerLinkActive="active" class="nav-link">Vehicles</a></li>
            <li><a class="nav-link">MBG</a></li>
          </ul>
        </section>
      </section>
    </nav>
  </div>
</clr-main-container>