<clr-main-container>
  <clr-header class="header-4">
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">SPTT-ERP</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a [routerLink]="[ '/day-summary' ]" routerLinkActive="active" class="nav-link"><span class="nav-text">Day Summary</span></a>
      <a [routerLink]="['/about']" routerLinkActive="active" class="nav-link"><span class="nav-text">Business Intellegence</span></a>
    </div>
    <div class="header-actions">
      <clr-dropdown class="dropdown bottom-right">
        <button class="nav-icon" clrDropdownToggle>
                <clr-icon shape="cog"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
        <div class="dropdown-menu">
          <a [routerLink]="['/account']" clrDropdownItem>Account</a>
          <a [routerLink]="['/drivers']" clrDropdownItem>Drivers</a>
          <a [routerLink]="['/vehicles']" clrDropdownItem>Vehicles</a>
          <a href="#" clrDropdownItem>Preferences</a>
          <a [routerLink]="['/about']" clrDropdownItem>About</a>
          <a href="#" clrDropdownItem>Log out</a>
        </div>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
